/*
 * Map View & Place Items
 */

#map-canvas {
    height: 300px;
    border-radius: 15px;
    border: 2px solid #53B380;
}

.item {
    width: 90%;
    background-color: #ffffff;
    margin: 15px auto;
    display: block;
    border-radius: 5px;
    border: 2px solid #53B380;
    padding: 10px;
    position:relative;
}

.item .item-user-name {
    display: block;
}

.item-name {
    font-weight: bold;
    font-size: large;
    border-bottom: 2px solid #53B380;
}

.item-thumbs {
    position: absolute;
    width: 40px;
    right: 5px;
    top: 5px;
}