{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if user.is_authenticated %}
<h1>Polls says... hello {{ user.username }}!</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'auth_logout' %}?next=/polls/">Logout</a>

{% else %}
<h1>Polls says... hello world!</h1>
<a href="{% url 'registration_register' %}">Register</a>
<a href="{% url 'auth_login' %}">Login</a>
{% endif %}