{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if user.is_authenticated %}
<h1>Polls says... hello {{ user.username }}!</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% else %}
<h1>Polls says... hello world!</h1>
{% endif %}

{% if user.is_authenticated %}
<a href="/polls/restricted/">Restricted Page</a><br />
<a href="/polls/logout/">Logout</a><br />
{% else %}
<a href="/polls/register/">Register Here</a><br />
<a href="/polls/login/">Login</a><br />
{% endif %}