<!DOCTYPE HTML>

{% load staticfiles %}

<html>
<head>
    <title>Point Me!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!--[if lte IE 8]>
    <script src="{% static 'css/ie/html5shiv.js' %}"></script><![endif]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-layers.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/skel.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style-desktop.css' %}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'css/ie/v8.css' %}"/><![endif]-->
</head>
<body class="homepage">

<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="/points/">Point Me!</a></h1>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                {% if user.is_authenticated %}
                <li class="current"><a href="/points/">Home</a></li>
                <li><a href="/points/map_view/">Map</a></li>
                <li><a href="/points/add_place/">Add Place</a></li>
                <li><a href="/points/my_places/">View My Places</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/accounts/login/">Logout</a></li>
                {% else %}
                <li class="active"><a href="/points/">Home</a></li>
                <li><a href="/points/map_view/">Map</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>
</div>

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="7u">
                <h2>Point It!</h2>

                <p>Rate and share any places around you!</p>
            </div>
            <div class="5u">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="/points/map_view/" class="button big icon fa-arrow-circle-right">Places Nearby</a></li>
                    <li><a href="/points/add_place/" class="button alt big icon fa-question-circle">Add a Place</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}" class="button big icon fa-arrow-circle-right">Login</a></li>
                    <li><a href="{% url 'registration_register' %}" class="button alt big icon fa-question-circle">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="4u">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <h3>Interesting stuff</h3>

                        <div class="grid">
                            <div class="row no-collapse 50%">
                                <div class="6u"><a href="#" class="image fit"><img src="{% static 'images/pic04.jpg' %}"
                                                                                   alt=""/></a></div>
                                <div class="6u"><a href="#" class="image fit"><img src="{% static 'images/pic05.jpg' %}"
                                                                                   alt=""/></a></div>
                            </div>
                            <div class="row no-collapse 50%">
                                <div class="6u"><a href="#" class="image fit"><img src="{% static 'images/pic06.jpg' %}"
                                                                                   alt=""/></a></div>
                                <div class="6u"><a href="#" class="image fit"><img src="{% static 'images/pic07.jpg' %}"
                                                                                   alt=""/></a></div>
                            </div>
                        </div>
                        <a href="#" class="button icon fa-file-text-o">More</a>
                    </section>
                </div>

            </div>
            <div class="8u important(collapse)">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>So what's this all about?</h2>

                        <p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a
                                href="http://html5up.net">HTML5 UP</a>.
                            Verti is released under the <a href="http://html5up.net/license">Creative Commons
                                Attribution license</a>, so feel free to use it for any personal or commercial project
                            you might have going on (just don't forget to credit us for the design!)</p>

                        <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper
                            bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod
                            quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit
                            amet phasellus quam turpis.</p>
                        <a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="3u">

                <!-- Links -->
                <section class="widget links">
                    <h3>Random Stuff</h3>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Links -->
                <section class="widget links">
                    <h3>Random Stuff</h3>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Links -->
                <section class="widget links">
                    <h3>Random Stuff</h3>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Contact -->
                <section class="widget contact last">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    </ul>
                    <p>1234 Fictional Road<br/>
                        Nashville, TN 00000<br/>
                        (800) 555-0000</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Point Me. All rights reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>