<!DOCTYPE html>
<html>
<head>
    <title>Map View</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #map-canvas {
            height: 80%;
            width: 90%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

</head>
<body>
<div id="map-canvas"></div>
<div>

    <ul id="place-list"></ul>

</div>

<br>
{% if user.is_authenticated %}
<a href="{% url 'auth_logout' %}?next=/accounts/login/">Logout</a><br>
<a href="/points/add_place/">Add a New Place</a><br>
<a href="/points/my_places/">View My Places</a><br>
{% else %}
<a href="{% url 'registration_register' %}">Register</a><br>
<a href="{% url 'auth_login' %}">Login</a><br>
{% endif %}

<a href="/points/">Homepage</a><br>
<a href="/points/map_view/">Map</a><br>


<script type="text/javascript">
    var infowindow = new google.maps.InfoWindow();
    var geocoder = new google.maps.Geocoder();
    var marker, i;

    var map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    // Sets map to center at current location
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(pos);
        });
    }

    // Gets ViewPort lat and long
    google.maps.event.addListener(map, 'bounds_changed', function () {
        var upper_left_lat = map.getBounds().getNorthEast().lat();
        var upper_left_lng = map.getBounds().getNorthEast().lng();
        var lower_left_lat = map.getBounds().getSouthWest().lat();
        var lower_left_lng = map.getBounds().getSouthWest().lng();

        $.ajax({
            method: 'GET',
            url: '',
            data: {
                'upper_left_lat': upper_left_lat,
                'upper_left_lng': upper_left_lng,
                'lower_left_lat': lower_left_lat,
                'lower_left_lng': lower_left_lng
            },
            success: function (data) {
                var list = document.getElementById('place-list');

                // Removes all list items
                list.innerHTML = "";

                obj = JSON.parse(data);
                for (var key in obj.d) {
                    console.log("Key: " + key);
                    console.log("Value: " + obj.d[key]);
                }
//                for (i = 0; i < address.length; i++) {
//                    geocodeAddress(address[i]);
//
//                    // Creates all list items for what is shown in map
//                    var entry = document.createElement('li');
//                    entry.appendChild(document.createTextNode(address[i]));
//                    list.appendChild(entry);
//                }
            },
            error: function (data) {
                alert("There was an error. Please, try again later.");
            }
        });
    });

    function geocodeAddress(address) {
        geocoder.geocode({'address': address}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                createMarker(results[0].geometry.location, address);
            }
            else {
                alert("Some problem in geocode - " + status);
            }
        });
    }

    function createMarker(latlng, html) {
        var marker = new google.maps.Marker({
            position: latlng,
            map: map
        });

        google.maps.event.addListener(marker, 'mouseover', function () {
            infowindow.setContent(html);
            infowindow.open(map, marker);
        });

        google.maps.event.addListener(marker, 'mouseout', function () {
            infowindow.close();
        });
    }


</script>
</body>
</html>